/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */

body {
    background-color: #222;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 500;
    overflow-x: hidden;
}

.background {
    fill: none;
    pointer-events: all;
}

section {
    width: 100%;
    display: table;
    height: 100vh;
}

.content {
    display: table-cell;
}



/* ---------------------------------------------------
    HOMEPAGE STYLE
----------------------------------------------------- */
.intro {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    padding: 0 7%;
    background-image: url("../img/airplane.jpeg");
    background-size: cover;
    vertical-align: middle;
}

.title{
    font-size: 4em;
    display: block;
}
.subtitle{
    font-size: 2em;
}



/* ---------------------------------------------------
    MAP STYLE
----------------------------------------------------- */
#map, .hiddenCanvas{
    float:left;
    height : 100vh;
    width : 75%;
}

.hiddenCanvas {
    display: none;
}

div#tooltip {
    position: absolute;
    background: #ffffff;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size:12px;
    color : black;
    display:none;
}


/* ---------------------------------------------------
    HISTORY PANEL STYLE
----------------------------------------------------- */


#history{
    float:right;
    height : 15vh;
    width: 20%;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    border-radius:10px;
    color:#fff;
    margin: 2em 2em 0 2em;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
;
}
#history > #info{
    display:table;
    height:60%;
    width  100%;
    margin:auto;
}
#history > #info > #text{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}
#history > #header {
    border-bottom:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    color:#fff;
    text-transform:capitalize;
    font-size:20px;
}




/* ---------------------------------------------------
    GRAPH STYLE
----------------------------------------------------- */
#graph{
    float:right;
}

.xaxis, .xaxis text,.yaxis text{
    fill : #999;
}
.tick, .tick line,.yaxis path{
  stroke:#999;
}
.brushed {
    fill: #ffe20c;
    stroke: None;
    opacity: 1.0;
}

.non_brushed {
    fill: #404040;
    opacity: 0.5;
}


#authors{
    text-align: center;
    vertical-align: middle;
}
.author{
    display:inline-block;
    margin:5em;
    font-size:16px;
    color:#fff;
}

.author p{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:26px;
}

.author img{
    border-radius: 50%;
    width:20em;
}

#video{
    height:100vh;
    padding:3em;
}
