body {
    background-color: #b5d0d0;
}
.background {
    fill: none;
    pointer-events: all;
}

.toolTip {
    position: absolute;
    background: #ffffff;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    display:none;
}