/**{
  box-sizing: border-box;
}*/
body {
    background-color: #222;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 500;
    overflow-x: hidden;
}

.background {
    fill: none;
    pointer-events: all;
}

section {
    width: 100vw;
    display: flex;
    height: 100vh;
}

.content {
    display: table-cell;
}


#intro-content{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    padding: 0 7%;
    background-image: url("../img/airplane4.jpeg");
    background-size: cover;
    vertical-align: middle;
}

.title{
    font-size: 4em;
    display: block;
    font-weight: 300;
}
.subtitle{
    font-size: 2em;
    font-weight: 500;
}

.map, .hiddenCanvas{
    float:left;
    height : 100vh;
    width : 60vw;
}
.graph{
    float:left;
    height : 100vh;
    width: 30vw;
}

.hiddenCanvas {
    display: none;
}

div#tooltip {
    position: absolute;
    background: #ffffff;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size:12px;
    color : black;
    display:none;
}



/* Graph */
.axis, .axis text{
    fill : #999;
}

.brushed {
    fill: #ffe20c;
    stroke: None;
    opacity: 1.0;
}

.non_brushed {
    fill: #404040;
    opacity: 0.5;
}


.setting{

  color:red;
}

.container {
  position: absolute;
    height: 100vw;
}

.draggable {
  border-radius: 10px;
  margin: 0 10px 10px 0;
  float: left;
  left: 88px;
  top: 68px;
}
.collapsed{
  color:red
}
